<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="templates/Liv3_style.css">
    <script src="js/main.js"></script>
    <title>Exercices de Musculation</title>
</head>
<body>
    <h1>Exercices de Musculation</h1>
    <ul>
        {% for exercice in exercices %}
            <li>{{ exercice.nom }}</li>
        {% endfor %}
    </ul>


    <ul>
        {% for categorie in categories %}
        <li>{{ categorie.nom }}</li>
        {% endfor %}
    </ul>
</body>
</html>